{% extends "base.html" %}

{% block content %}
<div id="myModal" class="modal" aria-labelledby="myModalLabel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <a class="btn btn-lg" role="button" href="/wide_good/{{id}}">X</a>
            </div>
            <div class="modal-body">
<br>
<h4 align="center">Товар {{title}} удален из избранного</h4>
</div>
        </div>
    </div>
</div>
{% endblock %}