{% extends "base.html" %}

{% block content %}
<div id="myModal" class="modal" aria-labelledby="myModalLabel" tabindex="-1">
    <div class="modal-dialog" style="width:600px">
        <div class="modal-content">
            <div class="modal-body">
                <input type="button" class="btn btn-light" onclick="history.back(-2); return false;" value="X"/>
                <img src={{image}} style="width:470px;height:600px;align:left">
          </div>
        </div>
    </div>
</div>
{% endblock %}